.cover {
  position: relative;
  margin: 92px auto 0;
  padding: 195px 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
}

@media (min-width: 1280px) {
  .cover {
    max-width: 1184px;
    padding: 245px 0;
  }
}

@media (max-width: 1023px) {
  .cover {
    margin: 90px auto 0;
    padding: 115px 0;
  }
}

@media (max-width: 767px) {
  .cover {
    margin: 66px auto 0;
    padding: 33px 0;
  }
}
